* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #7c7676;
    text-decoration: none;
}

header{
    display: block;
    width: 100%;
    height: 62px;
    background-color: #176cda;
    padding: 5px 0px 0px 0px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.logo-image{
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-image img{
    width: 35px;
    height: 35px;
}

.logo-image p{
    padding: 15px 0px 0px 9px;
    text-align: center;
    color: #fff;
}

.menu{
    padding-top: 15px;
    position: relative;
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.list-link{
    color: #fff;
    transition: 0.5s ease;
}

.list-link:hover{
    color: #7c7676;
    text-decoration: underline;
}

.hamburg-menu{
    display: none;
}

.hamburg-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.hamburg-icon span {
    display: block;
    height: 2px;
    width: 25px;
    background-color: #fff;
    margin: 3px 0;
}
/* end header */

/* test */

.wrapper{
    width: 100%;
    min-height: 450px;
    min-height: 450px;
}

.wrapper .container{
    margin: 0 auto;
    width: 85%;
    height: 100%;
    padding: 26px 0px;
}

.form{
    position: relative;
}

.form .subheader{
    position: absolute;
    top: -20px;
    left: -36px;
}

.form-border{
    width: 100%;
    margin-top: 15px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    width: 100%;
    height: 31px;
    border-radius: 50px;
    padding-left: 12px;
    font-size: 15px;
}

form label:first-child{
    padding: 0px;
}

form label{
    color: black;
    display: inline-block;
    padding-top: 15px;
    font-size: 16px;
}

.btn{
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

.btn-submit, .btn-reset{
    text-align: center;
    font-size: 14px;
    border-radius: 7%;
    min-height: 31px;
    min-width: 80px;
    padding: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    transition: 2s all;
}

.btn-submit{
    background-color:rgb(97, 165, 29);
}

.btn-reset{
    background-color:rgb(29, 77, 165);
}

.btn-submit:hover{
    background-color: color-mix(in srgb, rgb(97, 165, 29), blue)
}

.btn-reset:hover{
    background-color: color-mix(in srgb, blue, rgb(31, 245, 245));
}
/* end test */

/* footer */
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 125px;
    background-color: #37464475;
}

.footer-header{
    display: flex;
    padding: 45px 0px;
    justify-content: space-evenly;
    width: 100%;
    min-height: 90px;
}

.footer-header div > ul li{
    list-style-type: none;
    padding-bottom: 15px;
}

.footer-header div > ul li a{
    color: #fff;
}

.footer-header div > ul li a:hover{
    text-decoration: underline;
}

.footer-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: #085853;
}

.footer-footer p{
    font-size: 12px;
    color: #fff;
}

.footer-footer a{
    padding-left: 25px;
    font-size: 12px;
    color: blue;
}

.footer-footer a:hover{
    color:#fff;
    text-decoration: underline;
}
/* end footer */